body {
    margin: 0px;
    padding: 0px;
  }

#battlefield {
	cursor: url(../content/aim.png) 16 16, auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scores 
{
	padding: 5px;
}

.scores > .soldiers
{
	font-weight: bold;
}